<h1 class="text-center">Adicionar Registro de conta</h1>

<%= render 'form' %>

<div class="container items_grid_padding">
	<div class="row text-center">
		<div class="col-lg-12">
			<%= link_to 'Voltar', bill_histories_path, class: 'btn btn-primary btn-lg btn-block' %>
		</div>
	</div>
</div>
