<h1 class="text-center title_padding">Sobre Ango App</h1>
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-12 about-info">
			O Ango App é um aplicativo para armazenar e visualizar graficamente de forma mais organizada os gastos com contas do mês, e o gerenciamento de empréstimos da casa. Outras funcionalidades podem ser implementadas ao longo do tempo, sempre visando manter um melhor controle e gerenciamento financeiro da casa.
		</div>
	</div>
</div>
<h1 class="text-center title_padding">Sobre Desenvolvedor</h1>
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-12 about-info">
			<p class="text-center">Foi culpa do João</p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-lg-6">
			<%= link_to "Site", "https://joaogouveia89.github.io/", class:"btn btn-default btn-lg", target: :_blank %>
		</div>
		<div class="col-lg-6">
			<%= link_to "Github", "https://github.com/joaogouveia89", class:"btn btn-default btn-lg", target: :_blank %>	
		</div>
	</div>
</div>

