<h1 class="text-center title_padding">Links Úteis</h1>
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="list-group">
		  <a href="https://drive.google.com/drive/u/1/my-drive" target="_blank" class="list-group-item list-group-item-action">Drive</a>
		  <a href="https://docs.google.com/spreadsheets/d/1jiTrWQBQ0j2SQoSxq5BbMCJ__24_Z9vOP8dL40qE_7Y/edit#gid=0" class="list-group-item list-group-item-action" target="_blank">Planilha contas do mês</a>
		  <a href="https://docs.google.com/spreadsheets/d/13KAaDV9b9zS59sNN4RYb48p1_cSn7xniL9vVZhLZucI/edit#gid=0" class="list-group-item list-group-item-action" target="_blank">Reserva casa</a>
		  <a href="https://docs.google.com/spreadsheets/d/1qpTCVSHOOjoEHXvLcLgf4MNZHdxWhL1s_PQZV5gX9XA/edit#gid=0" class="list-group-item list-group-item-action" target="_blank">Acompanhamento cartão de crédito</a>
		</div>
	</div>
	<div class="col-lg-4"></div>
</div>